version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.prod
    image: batistaluisfilipe/movies_web
    command: gunicorn fav_movies.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/home/code/web/staticfiles
#    expose:
#      - 8000
    ports:
      - "8000:8000"
    env_file:
      - ./.env.prod
#  nginx:
#    build: ./nginx
#    image: batistaluisfilipe/nginx
#    volumes:
#      - static_volume:/home/code/web/staticfiles
#    ports:
#      - 80:80
#    depends_on:
#      - web

volumes:
  static_volume:
